
.chatwindow {

	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	
	
}

.chatwindow-controls {
	
	text-align: center;
	display: flex;
}


.chatwindow-messages {
	box-sizing: border-box;
	margin: 10px;
	
	flex: 1;
	overflow: hidden;

}


.chatwindow-message {

	box-sizing: border-box;
	

}

.chatwindow-message p {
	margin: 0px;
}

.chatwindow-message-body {
	display: inline-block;
	padding: 2px 4px;
	border-radius: 10px;
	box-sizing: border-box;
	margin: 6px;
}