mima/.vs/VSWorkspaceState.json
mima/.vs/ProjectSettings.json
mima/.vs/mima/CopilotIndices/18.7.1225.11805/SemanticSymbols.db
mima/.vs/mima/CopilotIndices/18.7.1225.11805/CodeChunks.db
mima/.vs/mima.slnx/v18/DocumentLayout.json
mima/.vs/mima.slnx/v18/.wsuo
mima/.vs/mima.slnx/FileContentIndex/208ec4dc-e29a-4181-944c-11e5089fcdbc.vsidx
mima/.vs/slnx.sqlite
